<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <!-- Vue -->
    <script src="/js/Vue-2.5.16.js"></script>
    <!-- 数据集模拟 -->
    <script src="/js/mock-min.js"></script>
    <!-- Ajax -->
    <script src="/js/axios.min.js"></script>
    <!-- 顶部组件 -->
    <script src="/components/topnav.js"></script>
    <!-- 欺骗 -->
    <script src="/mock/mock.js"></script>
    <!-- layui -->
    <!-- <link rel="stylesheet" href="./layui/css/layui.css"> -->
    <script src="/layui/layui.js"></script>

    <script src="/js/lodash.min.js"></script>

</head>

<body>
    <div id="app">

        <!-- <button @click="into" >进入房间</button> -->
        <component v-bind="roomData" :uname="uname" :is="currentView"></component>

    </div>
    
</body>

<style>
    .list .select{
        color: red;
    } 
</style>


<script>
    var uname = '<?=$_SESSION['uname']?>';
    var uid = <?=$_SESSION['uid']?>;
</script>

<script src="/js/MyWebSocket.class.js"></script>
<script src="/js/Route.class.js"></script>
<script src="/components/room.js"></script>

<script src="/js/webSocket.js"></script>
<script src="/js/app.js"></script>


</html>

