<?php


return array(
    
    'mode'=>'dev',
    'APP_URL'=>'http://localhost:9999',
    // 数据库
    'db.host'=>'127.0.0.1',
    'db.port'=>'3306',
    'db.user'=>'root',
    'db.pwd'=>'',
    'db.dbname'=>'project-shop',
    // reids
    'redis.host'=>'127.0.0.1',
    'redis.port'=>6379,
    
);