.agree-list {
    border: 1px solid skyblue;
    padding: 0;
    text-align: center;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid skyblue;
    padding: 5px;
    margin-left: 20px;
}
.agree-list h3 {
    padding: 0;
    margin-top: 0;
    background-color: #EEE;
    padding: 5px;
}
.comment-list {
    border: 1px solid skyblue;
    margin-top: 10px;
    padding: 10px;
}
.comment-list .left {
    text-align: center;
    float: left;
    width: 15%;
}
.comment-list .left img {
    border-radius: 50%;
}
.comment-list .right {
    float: left;
    font-size: 12px;
    margin-left: 10px;
    width: 75%;
}
.comment-list .date {
    color: #999;
    margin-top: 20px;
}
.clearfix {
    clear: both;
}