<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
</head>
<body>
    <?php view('common.nav') ?>

    <h1>订单列表</h1>

    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th>订单编号</th>
            <th>总金额</th>
            <th>下单时间</th>
            <th>订单状态</th>
            <th>支付时间</th>
            <th>操作</th>
        </tr>
        <?php foreach($orders as $v): ?>
        <tr>
            <td><?=$v['id']?></td>
            <td><?=$v['sn']?></td>
            <td><?=$v['money']?></td>
            <td><?=$v['created_at']?></td>
            <td><?= $v['state']==0?'未支付':($v['state']==1?'已支付':'已退款'); ?></td>
            <td><?=$v['pay_time']?></td>
            <td>
                <?php if($v['state']==0): ?>
                <form target="_blank" action="<?=Route('pay.ali')?>" method="post">
                    <?=csrf_field()?>
                    <input type="hidden" name="sn" value="<?=$v['sn']?>">
                    <input type="submit" value="支付宝支付">
                </form>

                <form target="_blank" action="/wxpay/pay" method="post">
                    <?=csrf_field()?>
                    <input type="hidden" name="sn" value="<?=$v['sn']?>">
                    <input type="submit" value="微信支付">
                </form>
                
                <?php elseif($v['state']==1): ?>

                    <form target="_blank" action="<?=Route('refund.ali')?>" method="post">
                        <?=csrf_field()?>
                        <input type="hidden" name="sn" value="<?=$v['sn']?>">
                        <input type="submit" value="支付宝退款">
                    </form>
                <?php endif; ?>


            </td>
        </tr>
        <?php endforeach; ?>
    </table>
    <br>
    <?=$btns?>
    

    <?php view('common.footer') ?>
</body>
</html>