<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>管理中心 - 添加新记录</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>
        <span class="action-span"><a href="/privilege/index">数据列表</a></span>
        <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
        <span id="search_id" class="action-span1"> - 添加权限分类记录 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        
        <form action="<?=Route('privilege.insert')?>" onsubmit="return checkform();" method="post" enctype="multipart/form-data">
            <?=csrf_field()?>            
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">权限名称:</td>
                    <td>
                                                    <input type='text' size="80" name='pri_name'>
                                                <font color="red">*</font>
                    </td>
                </tr>
                </tr>
                                <tr>
                    <td class="label">上级权限分类ID:</td>
                    <td>
                        <!-- <input type='text' size="80" name='parent_id'> -->
                        <select name="parent_id">
                            <option value="0">顶级分类</option>
                            <?php foreach ($data as $k => $v) { ?>

                                <option value="<?=$v['id']?>">
                                    <?=str_repeat('-',$v['level']*8).$v['pri_name']?>
                                </option>

                            <?php }?>
                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">选择基本权限:</td>
                    <td><div>
                        <div>
                        <select multiple="multiple" id="select1" style="width:400px;height:200px; float:left; border:4px #A0A0A4 outset; padding:4px; ">
                            <?php foreach($privileges as $key => $val):?>
                                <option value="<?=$key?>"><?=$key?></option>
                            <?php endforeach;?>
                        </select>
                        </div>
                        <div style="float:left"> <span id="add">
                        <input type="button" class="btn" value=">"/>
                        </span><br />
                        <span id="add_all">
                        <input type="button" class="btn" value=">>"/>
                        </span> <br />
                        <span id="remove">
                        <input type="button" class="btn" value="<"/>
                        </span><br />
                        <span id="remove_all">
                        <input type="button" class="btn" value="<<"/>
                        </span> </div>
                        <div>
                        
                        </div>
                    </div></td>
                </tr>
                <tr>
                    <td class="label">已选择权限:</td>
                    <td>
                    
                    <select multiple="multiple" name1='privileges[]' id="select2" style="width: 400px;height:200px; float:lfet;border:4px #A0A0A4 outset; padding:4px;">
                            </select>
                        </td>
                </tr>
                <!-- <tr>
                    <td class="label">对应的URL地址，多个地址用,隔开:</td>
                    <td>
                        <font color="red">*</font>
                    </td>
                </tr> -->
                <input type='hidden' size="80" name='url_path' id="url_path">
                                
                
            </table>

            <div class="button-div">
                <input type="submit"  value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>
    <?=view('common.footer')?></body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<style type="text/css">
#one{width:200px; height:180px; float:left}
#two{width:50px; height:180px; float:left}
#three{width:200px; height:180px; float:left}
.btn{width:50px; height:30px; margin-top:10px; cursor:pointer;}
</style>
<script type="text/javascript">

function checkform(){
    // 让 select2 options 全部选中 再提交表单
    var options = document.getElementById('select2').options
    var url_path = document.getElementById('url_path')
    var arr = [];
    for (let index = 0; index < options.length; index++) {
        const element = options[index];
        // element.selected = true;
        arr.push(element.text); 
        console.log(element.text);
    }
    url_path.value = arr.join(",")
    
    return true;
}
//下拉框交换JQuery
$(function(){
    //移到右边
    $('#add').click(function() {
    //获取选中的选项，删除并追加给对方
        $('#select1 option:selected').appendTo('#select2');
    });
    //移到左边
    $('#remove').click(function() {
        $('#select2 option:selected').appendTo('#select1');
    });
    //全部移到右边
    $('#add_all').click(function() {
        //获取全部的选项,删除并追加给对方
        $('#select1 option').appendTo('#select2');
    });
    //全部移到左边
    $('#remove_all').click(function() {
        $('#select2 option').appendTo('#select1');
    });
    //双击选项
    $('#select1').dblclick(function(){ //绑定双击事件
        //获取全部的选项,删除并追加给对方
        $("option:selected",this).appendTo('#select2'); //追加给对方
    });
    //双击选项
    $('#select2').dblclick(function(){
       $("option:selected",this).appendTo('#select1');
    });
});

</script>
    
</html>