<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$blog['title']?></title>
    
</head>
<body style="display:none;">
    <?php view('common.nav',['_static'=>isset($_static)?$_static:'']) ?>
        
        阅读量: <span id="display"><?=$blog['display']?></span> <br>
        <?=$blog['content']?>
        
    <?php view('common.footer') ?>
</body>
</html>

<script>
$(function(){
    var id = "<?=$blog['id']?>";
    // 定义接口地址
    var url = "/blog/display/" + id;
    // 请求这个地址
    $.ajax({
        type:"POST",
        url:url,
        dataType: "json",
        success:function(data)
        {
            // 把返回的浏览量放到页面
            $("#display").html(data);
        },
        error:function(){
            console.log('格式错误');
            
        }
    });

})


</script>
<script>

        $(function(){
        
            var memu = document.getElementById('memu_static');
            console.log(memu);
            if(memu)
                console.log('true,这是静态页');
            else   
                console.log('false,这是动态页');
                   
        
        
        })
        
        </script>